.facebookembed {
  
	.remove-border {
		border: 0;
	}
	.resp-container {
		position: relative;
		overflow: hidden;
	}
	.resp-iframe {
	    top: 0;
	    left: 0;
	    width: 100%;
	    border: 0;
	}

}
